/*
Copyright - 2021 - wwwouaiebe - Contact: https://www.ouaie.be/

This  program is free software;
you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation;
either version 3 of the License, or any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
variables for color. Needed for browsers with JS deactived
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

@media (prefers-color-scheme: dark) {
	:root {
		--main-background-color: black;
		--main-color: white;
		--link-hover-color: lightgray;
		--link-color: orange;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--main-background-color: white;
		--main-color: black;
		--link-hover-color: #505050;
		--link-color: #8b0000;
	}
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
fonts
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

@font-face {
	font-family: RAZARA-regular;
	src: url("opensans-regular.woff2") format("woff2");
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
Overload of variables for prefered colors when JS is active
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

body.cyDark {
	--main-background-color: black;
	--main-color: white;
	--link-hover-color: lightgray;
	--link-color: orange;
}

body.cyLight {
	--main-background-color: white;
	--main-color: black;
	--link-hover-color: #505050;
	--link-color: #8b0000;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
Grid
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

header {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

#cyNavCategory {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

#cyNavTop {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

section {
	grid-column: 1 / 2;
	grid-row: 4 / 5;
}

#cyNavBottom {
	grid-column: 1 / 2;
	grid-row: 5 / 6;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
Style for html elements
*/

/* ------------------------------------------------------------------------------------------------------------------------- */

/**
body */

body {
	font-family: RAZARA-regular, Helvetica, Arial, sans-serif;
	display: grid;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
	grid-template-columns: auto;
	grid-template-rows: auto;
	max-width: 972px;
	color: var(--main-color);
	background-color: var(--main-background-color);
}

/**
h1 - h6 size
*/

h1 {
	font-size: 175%;
	padding-bottom: 1rem;
}

h2 {
	font-size: 152%;
	padding-bottom: 1rem;
}

h3 {
	font-size: 132%;
	padding-left: 2rem;
}

h4 {
	font-size: 115%;
	padding-left: 4rem;
}

h5 {
	padding-left: 6rem;
}

h6 {
	padding-left: 8rem;
}

section.cyPage > h1,
h2,
h3,
h4,
h5 {
	padding-top: 2rem;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	border-bottom: 0.1rem solid var(--main-color);
}

/**
Color overload for site name
*/

div.cySiteName {
	font-size: 175%;
}

div.cySiteName > a {
	color: var(--main-color);
	text-decoration: none;
}

div.cySiteName > a:hover {
	color: var(--main-color);
	text-decoration: none;
}

div.cySiteName > a > span {
	color: var(--link-color);
}

div.cySiteName > a > span:hover {
	color: var(--link-color);
}

/**
link
*/

a {
	color: var(--link-color);
	text-decoration: underline;
}

a:hover {
	color: var(--link-hover-color);
	text-decoration: underline;
}

/**
article
*/

article {
	padding-bottom: 2rem;
}

/**
page
*/

p {
	padding-bottom: 1rem;
}

/**
listes
*/

ul {
	padding-bottom: 1rem;
}

/**
iframe
*/

iframe {
	width: 100%;
	height: 800px;
	border-style: none;
}

/**
figure
*/

figure {
	padding-bottom: 1rem;
}

figcaption {
	padding-top: 1rem;
	font-size: 80%;
	padding-bottom: 1rem;
}

/**
overload for html elements in nav element
*/

body > nav > h1 {
	font-size: 115%;
}

body > nav > p {
	line-height: 2rem;
}

body > nav > p > span {
	padding-right: 1rem;
	white-space: nowrap;
}

/**
first letter capitalize for h1 (date)
*/

body > section > h1::first-letter {
	text-transform: capitalize;
}

/**
width and height for img, depending of the orientation
*/

.cyPictureLandscape {
	width: 100%;
	height: 100%;
}

.cyPictureSquare,
.cyPicturePortrait {
	width: 50%;
	height: 50%;
}

/**
http errors overload
*/

.cyErrorHttp {
	text-align: center;
	font-size: 200%;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* --- End of file --------------------------------------------------------------------------------------------------------- */
