:root {
  --main-color : black;
  --link-color : gray;
  --link-hover-color : darkred;
}

@font-face {
	font-family: "Ubuntu Sans";
	src: url("Ubuntu-L.ttf") format("truetype");
}
@font-face {
	font-family: "Ubuntu SansNarrow";
	src: url("Ubuntu-C.ttf") format("truetype");
}
@font-face {
	font-family: "Ubuntu SansBold";
	src: url("Ubuntu-B.ttf") format("truetype");
}

/* reset */
a,
article,
body,
div,
figure, 
figcaption,
header,
h1, h2, h3, h4, h5, h6,
img,
li,
nav,
object,
p,
section,
span,
sub, 
sup,
ul{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	box-sizing: border-box;	
	text-decoration: none;
	color: var(--main-color);
}
body
{
	line-height: 1;
	grid-row-gap: 0;
	grid-column-gap: 0;
}

ul
{
	list-style: none;
}
/* end reset */

body {
	font-family: Ubuntu Sans;
	display : grid;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
}
h1{
	font-size: 200%;
	padding-bottom: 1rem;
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

h1 > a {
	color: var(--main-color);
}

h1 > a > span {
	color: var(--link-color);
}

h1 > a > span:hover {
	color: var(--link-hover-color)
}

h2 {
	font-size: 141%;
	padding-bottom: 1rem;
}

body > nav > div > h2 {
	font-size: 100%;
}

h3 {
	font-size: 125%;
	padding-bottom: 1rem;
}

article {
	padding-bottom: 2rem;
}

p {
	padding-bottom: 1rem;
}

.cyPagination {
	text-align: center;
}

.cyPagination > span {
	padding-left: 1rem;
	padding-right: 1rem;
}

@media screen and (min-width: 1281px){
	body {
		grid-template-columns: auto 972px;
		grid-column-gap: 3rem;
		max-width: 1600px;
	}
	header {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	nav {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:2;
		grid-row-end:3;
	}
	section
	{
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start:2;
		grid-row-end:3;
	}

	body > nav > div > p {
		transform:scaleY(0);
		transform-origin:0 0;
		height: 0;
	}

	body > nav > div:hover > p {
		transform:scaleY(1);
		height: auto;
	}
	
	.cyPictureInfo > span + span
	{
		display: inline-block;
		transform:scaleX(0);
		transform-origin:0 0;
		transition:all .5s ease;
	}
	.cyPictureInfo > span:hover + span
	{
		transform:scaleX(1);
	}
}
@media screen and (max-width: 1280px){
	body {
		grid-template-columns: 1fr;
		max-width: 972px;
	}
	header {
		grid-column-start: 1;
		grid-column-end: 2;
	}
	nav {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:3;
		grid-row-end:4;
	}
	section
	{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:2;
		grid-row-end:3;
	}
	.cyPictureLandscape {
		width: 100%;
	}
	.cyPicturePortrait {
		width: 66%;
	}
}