
body.slideShow > header,
body.slideShow > header > *,
body.slideShow > header > * > *,
body.slideShow > header > * > * > *,
body.slideShow > nav,
body.slideShow > nav > *,
body.slideShow > nav > * > *,
body.slideShow > nav > * > * > *,
body.slideShow > section,
body.slideShow > section > *,
body.slideShow > section > * > *,
body.slideShow > section > * > * > * {
	transform: scaleY(0);
	width: 0;
	height: 0;
	visibility: hidden;
}

body.slideShow > div {
	background-color: transparent;
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	z-index: 100;
}

body.slideShow > div > article {
	max-width: 972px;
	margin-left: auto;
	margin-right: auto;
}

body.slideShow > div > div {
	text-align: right;
	padding-bottom: 1rem;
}

.cyCursorLeft {
	cursor: url(left.png) 16 16, w-resize;
}

.cyCursorRight {
	cursor: url(right.png) 16 16, e-resize;
}

body.slideShow .cyPictureSquare,
body.slideShow .cyPicturePortrait,
body.slideShow .cyPictureSquare ~ *,
body.slideShow .cyPicturePortrait ~ * {
	margin-left: 25%;
	margin-right: 25%;
}

.cyHelpDiv {
	position: absolute;
	top: 3rem;
	right: 0;
	width: 25rem;
	background-color: white;
	text-align: left;
	padding: 0.5rem;
	border-style: solid;
	border-width: 0.1em;
}

.cyHelpDivHidden {
	width: 0;
	height: 0;
	transform: scale(0);
	visibility: hidden;
	padding: 0;
	border-width: 0;
}
